body {
  background-color: #8ac5f5 !important;
}

.header {
  background-color: #282c34;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header a {
  color: white !important;
  text-decoration: none;
}
.header a:hover {
  color: rgb(203, 234, 255) !important;
  text-decoration: none;
}

.table-short {
  width: 50px;
}

.container {
  margin-top: 50px;
  height: 100%;
  background-color: #565e8157;
  padding: 20px;
  padding-top: 7px;
  border-radius: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
